@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --dark   : #222;
    --warning: #8705d0;
}

*,
body,
ul,
li {
    margin     : 0px;
    padding    : 0px;
    list-style : none;
    font-size  : inherit !important;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: var(--dark);
}

a {
    text-decoration: none !important;
}

header {
    padding: 1.5rem 2rem;
}

header div {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    align-items     : center;
    padding         : 20px;
    background-color: var(--warning) !important;
    box-shadow      : 10px 20px 0px 1px #000;
}



header a span {
    color         : var(--dark);
    text-transform: uppercase;
    font-size     : 1.5rem !important;
}

header h1.title {
    color         : #fff;
    text-transform: uppercase;
    font-size     : 20px !important;
}

body.site {
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;
}

main.site-container {
    flex: 1;
}

/* navbar */
.collapse {
    display: none;
}

.menu {
    display: flex;
}

.menu>li {
    margin-left     : 10px;
    display         : inline-block;
    vertical-align  : middle;
    background-color: var(--dark);
}

.menu>li>a {
    display       : block;
    padding       : 10px;
    text-transform: uppercase;
}

.menu>li>a:active {
    color           : var(--dark);
    background-color: lavenderblush;
}

/* update behavor inherit component */
.container {
    margin-top: 100px;
    border    : none;
}

.member-card {
    height: 100%;
}

/*  columns */
.columns {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 20px;
}

.columns .column:nth-child(n+1) {
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    .columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .title,
    .menu {
        display: none;
    }

    .nes-container {
        margin-top: 0px;
    }

    .collapse {
        display: block;
    }
}

@media(min-width: 601px) and (max-width: 850px) {
    .columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  avatar */
.avatar img {
    width: 80px;
}

/* utis */
.width-100\% {
    width: 100%;
}