.container
    margin    0 auto
    max-width 960px
    position  relative
    width     100%
    margin-top 100px border none
    margin-top 100px
    border none

@media only screen and (max-width 992px)
    .container
        width 85%


@media only screen and (max-width 480px)
    .container
        width 90%

.container-xsmall
    max-width 750px

.container-small
    max-width 900px

.container-large
    max-width 1400px

.container-xlarge
    max-width 1600px

.container-expand
    max-width none



.columns
    display               grid
    gap                   20px

.columns.is-full 
    grid-template-columns repeat(1, 1fr)
    gap                   20px

.columns.is-one-two
    grid-template-columns repeat(2, 1fr)
    gap                   20px

.columns.is-one-third 
    grid-template-columns repeat(3, 1fr)
    gap                   20px

.columns .columnnth-child(n+1)
    margin-bottom 20px

@media(max-width 600px)
    .columns.is-one-third
        grid-template-columns repeat(1, 1fr)
    .columns.is-one-two
        grid-template-columns repeat(1, 1fr)

    .title,
    .hide-sm
        display none

    .nes-container
        margin-top 0px

    .collapse
        display block

    .author-name
        font-size 10px

@media(min-width 601px)
    .hide-md
        display none !important

@media(min-width 601px) and (max-width 850px)
    .columns
        grid-template-columns repeat(2, 1fr)


