
header
    padding: 1.5rem 2rem;

header
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    align-items     : center;
    padding         : 20px;
    background-color: primary !important;
    box-shadow      : 0px 20px 0px 1px #000;

header a span
    color         : dark;
    text-transform: uppercase;
    font-size     : 1.5rem !important;

header h1.title
    color         : #fff;
    text-transform: uppercase;
    font-size     : 20px !important;


header ul li a
    font-size     : 13px !important;

body.site
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;

main.site-container
    @extend .margin-large-top
    flex: 1;

.collapse
    display: none;

.menu
    display: flex;

.menu>li
    margin-left     : 10px;
    display         : inline-block;
    vertical-align  : middle;
    text-transform: uppercase;

.menu>li>a:not(.nes-btn)
    color: #fff !important;
    display       : block;
    padding       : 13px;

.menu>li>a:active:not(.nes-btn) 
    color           : dark;
    background-color: dark;