@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

body,
ul,
li
    margin      0px
    padding     0px
    list-style  none
    font-size   inherit !important
    font-family 'Press Start 2P', cursive

body
    background-color dark

a
    text-decoration none !important


.container
    margin-top 100px
    border     none

.member-card
    height 100%

.member-card p.subtitle
    margin-top 1.5rem

.avatar img
    width 80px

.width-100
    width 100%

.author-name
    font-size 10px

.icon,
.text-play,
.author-name
    vertical-align middle
.icon-vertical-bottom
    vertical-align bottom