@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root
    --dark   : #222;
    --warning: #8705d0;

*,
body,
ul,
li
    margin     : 0px;
    padding    : 0px;
    list-style : none;
    font-size  : inherit !important;
    font-family: 'Press Start 2P', cursive;

body
    background-color: var(--dark);

a
    text-decoration: none !important;


.container
    margin-top: 100px;
    border    : none;

.member-card
    height: 100%;

.avatar img
    width: 80px;

.width-100\%
    width: 100%;