@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body,
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: inherit !important;
  font-family: 'Press Start 2P', cursive;
}
body {
  background-color: #222;
}
a {
  text-decoration: none !important;
}
.member-card {
  height: 100%;
}
.member-card p.subtitle {
  margin-top: 1.5rem;
}
.avatar img {
  width: 80px;
}
.width-100 {
  width: 100%;
}
#sponsor p:not(.nes-balloon),
#sponsor em,
#sponsor i {
  color: #fff;
}
.icon,
.text-play,
.author-name {
  vertical-align: middle;
}
.icon-vertical-bottom {
  vertical-align: bottom;
}
.nes-table {
  width: 100% !important;
}
.margin-top-medium {
  margin-top: 2.5rem !important;
}
header {
  padding: 1.5rem 2rem;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7b0ad4 !important;
  box-shadow: 0px 20px 0px 1px #000;
}
header a span {
  color: #222;
  text-transform: uppercase;
  font-size: 1.5rem !important;
}
header h1.title {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px !important;
}
header ul li a {
  font-size: 13px !important;
}
body.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main.site-container {
  flex: 1;
}
.collapse {
  display: none;
}
.menu {
  display: flex;
}
.menu>li {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.menu>li>a:not(.nes-btn) {
  color: #fff !important;
  display: block;
  padding: 13px;
}
.menu>li>a:active:not(.nes-btn) {
  color: #222;
  background-color: #222;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
  margin-top: 100px border none;
}
@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
.columns {
  display: grid;
  gap: 20px;
}
.columns.is-full {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.columns.is-one-two {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.columns.is-one-third {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.columns .columnnth-child(n+1) {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .columns.is-one-third {
    grid-template-columns: repeat(1, 1fr);
  }
  .columns.is-one-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .title,
  .hide-sm {
    display: none;
  }
  .nes-container {
    margin-top: 0px;
  }
  .collapse {
    display: block;
  }
  .author-name {
    font-size: 10px;
  }
}
@media (min-width: 601px) {
  .hide-md {
    display: none !important;
  }
}
@media (min-width: 601px) and (max-width: 850px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
